@function em( $target, $context: $base-font-size ) {
    @return ( $target / $context ) * 1em;
}

@function rem( $target, $context: $base-font-size ) {
	@return ( $target / 16 ) * 1rem;
}

@function grid( $width, $context: $base ) {
    @return percentage( $width / $context );
}

@function get-vw-desktop($target) {
	$vw-context: ($desktop * 0.01);
	@return ($target / $vw-context) * 1vw;
}

@function get-vw-tablet($target) {
	$vw-context: ($tablet * 0.01);
	@return ($target / $vw-context) * 1vw;
}

@function get-vw-tablet--portrait($target) {
	$vw-context: ($tablet_portrait * 0.01);
	@return ($target / $vw-context) * 1vw;
}



@function z-index($key) {
  @return map-get($z-index, $key);
}

@mixin z-index($key) {
  z-index: z-index($key);
}


/*

@function get-vw-1920($target) {
	$vw-context: ($project * 0.01);
	@return ($target / $vw-context) * 1vw;
}

@function get-vw-1400($target) {
	$vw-context: (1400 * 0.01);
	@return ($target / $vw-context) * 1vw;
}

@function get-vw-1220($target) {
	$vw-context: (1220 * 0.01);
	@return ($target / $vw-context) * 1vw;
}

@function get-vw-tablet($target) {
	$vw-context: ($tablet * 0.01);
	@return ($target / $vw-context) * 1vw;
}

@function get-vw-tablet-portrait($target) {
	$vw-context: ($tablet_portrait * 0.01);
	@return ($target / $vw-context) * 1vw;
}

@function get-vw-640($target) {
	$vw-context: (600 * 0.01);
	@return ($target / $vw-context) * 1vw;
}
*/