[class^="icon-"], [class*=" icon-"] {
	@extend %icomoon;
}

.anim {
	will-change: transform, opacity;
	
	&--bottomline {
	    transition-delay: 1000ms;

        &:after {
	        @extend %anim--medium;
        	width: 0;
    	}
    	
    	&.anim--loaded {
            &:after {
            	width: 100%;
        	}
    	}
	}

	&--fadein {
		opacity: 0;
		
		&.anim--loaded {
			opacity: 1;
		}
	}
	
	&--left {
		opacity: 0;
		transform: translateX(-50px);
		
		&.anim--loaded {
			opacity: 1;
			transform: translateX(0);
		}
	}
	
	&--normal {
        @extend %anim--normal;
    }
	
	&--right {
		opacity: 0;
		transform: translateX(50px);
		
		&.anim--loaded {
			opacity: 1;
			transform: translateX(0);
		}
	}
	
    &--delay1 {
	    transition-delay: 100ms !important;
	}
	
	&--delay2 {
	    transition-delay: 200ms !important;
	}
	
	&--delay3 {
	    transition-delay: 300ms !important;
	}
	
	&--delay4 {
	    transition-delay: 400ms !important;
	}
	
	&--delay5 {
	    transition-delay: 500ms !important;
	}
	
	&--delay6 {
	    transition-delay: 600ms !important;
	}
	
	&--delay7 {
	    transition-delay: 700ms !important;
	}
	
	&--scalein {
		transform: scale(0);
		opacity: 0;
		
		&.anim--loaded {
		    opacity: 1;
			transform: scale(1);
		}
	}
	
	&--topline {
	    transition-delay: 500ms;

	    &:before {
	        @extend %anim--medium;
        	width: 0;
    	}
    	
    	&.anim--loaded {
            &:before {
            	width: 100%;
        	}
    	}
	}
	
	&--up {
		opacity: 0;
		transform: matrix(1, 0, 0, 1, 0, 400);
        transition-duration: 800ms;
		//transform: translateY(60px);
		
		&.anim--loaded {
			opacity: 1;
			transform: matrix(1, 0, 0, 1, 0, 0);
			//transform: translateY(0);
		}
	}
	
	&--upBefore {
	    &:before { 
	        
	        display: inline-block;
    		opacity: 0;
    		transform: translateY(-50px);
		}
		
		&.anim--loaded {
		    &:before {
		        @extend %anim--medium;
		        transition-property: opacity;
		        transition-delay: 2000ms;
    			opacity: 1;
    			transform: translateY(0);
            }
		}
	}
}

.index-up {
    margin-top: -100vh;
    z-index: 20;
}

.no-padding {
    padding: 0 !important;
}

.no-overflow {
	overflow: hidden;
}


.u-dash {
    @extend %rel;
    
    &:after {
        @extend %abs-after;
        width: 30px; height: 3px;
        background-color: $c-black;
    }
}

.u-marginbottom {
   // margin-bottom: 100px;
}

