.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	width: 100%;
	vertical-align: top;
	overflow: hidden;
	padding-top: 1em;
	
	&__field {
		position: relative;
		display: block;
		
		//color: white;
		-webkit-appearance: none; /* for box shadows to show on iOS */
		
		padding: .5em 0;
		width: 100%;
		background: transparent;
		font-size: 1.25em;
		
		@media screen and ( max-width: $smartphone + px ) {
			padding: .8em 0;
			font-size: .8em;
		}
		
		
		&:focus {
			outline: none;
		}
		
		&--textarea {
			margin-bottom: 20px;
			margin-top: 10px;
			font-size: rem(24);
			
			@media screen and ( max-width: $smartphone + px ) {
				font-size: rem(18);
			}
		}
	}
	
	&__label {
		display: inline-block;
		float: right;
		//opacity: .5;
//		color: white;
		font-size: .85em;
		-webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
		-webkit-touch-callout: none;
		user-select: none;
		
		position: absolute;
		top: .55em;
		left: 0;
		display: block;
		width: 100%;
		text-align: left;
		padding: 0;
		pointer-events: none;
		transform-origin: 0 0;
		transition: transform 0.2s 0.15s, color 1s;
		transition-timing-function: ease-out;

	}
	
	&__label-content {
		position: relative;
		display: block;
		padding: 1.4em 0;
		width: 100%;
		
		@media screen and ( max-width: $smartphone + px ) {
		    font-size: .8em;
		}
	}
}

.graphic {
	position: absolute;
	top: 2px;
	left: 0;
	fill: none;
	stroke: black;
	
	pointer-events: none;
	transition: transform 0.7s, stroke 0.7s;
	transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
}

.input__field:focus + .input__label,
.input--filled .input__label {
	transform: translate3d(0, -1.25em, 0) scale3d(0.75, 0.75, 1);
}

.input__field:focus ~ .graphic,
.input--filled .graphic {
	transform: translate3d(-66.6%, 0, 0);
}
