.c-hamburger {
    @extend %abs;
    top: 25px;
    right: 38px;
    display: block;
    width: 60px;
    height: 56px;
    transform: rotate(0deg) scale(.4) translateY(-50%);
    transition: .5s ease-in-out;
    cursor: pointer;
  
    &:after {
        @extend %abs-after;
        left: 0; top: 0; z-index: 10;
        width: 100%; height: 100%;
    }
  
    @media screen and ( min-width: $tablet_portrait + 1px ) {
        display: none;
    }
    
    @media screen and ( max-width: $smartphone + px ) {
        right: 22px;
    }

  
    span {
        display: block;
        position: absolute;
        height: 6px;
        width: 100%;
        background: $c-black;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
    }

}

.c-hamburger span:nth-child(1) {
  top: 0px;
}

.c-hamburger span:nth-child(2),.c-hamburger span:nth-child(3) {
  top: 20px;
}

.c-hamburger span:nth-child(4) {
  top: 40px;
}

.c-hamburger.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.c-hamburger.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.c-hamburger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.c-hamburger.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

/* Icon 4 */

#nav-icon4 {
}

#nav-icon4 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
  top: 18px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
  top: 36px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}

#nav-icon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 39px;
  left: 8px;
}