.c-logo {
    @extend %abs;
    @extend %abs-y;
    left: 40px;
    display: block;
    width: 50px; height: 50px;
    
    @media screen and ( max-width: $desktop + px ) {
        left: 60px;
    }
    
    @media screen and ( max-width: $tablet + px ) {
        width: 40px;
        top: 12px;
        transform: none;
    }
    
    @media screen and ( max-width: $tablet_portrait + px ) {
        left: 40px;
    }  
    
    @media screen and ( max-width: $smartphone + px ) {
        left: 20px;
    }
}