.c-picture {
    @extend %rel;
    animation: colorchange 1s infinite;
    
    img {
        //opacity: 0;

        
      /*
  &.lazyloaded { 
            @extend %anim--normal;
        }
*/

    }

    &--top {
        overflow: hidden;
        
        picture {
            @extend %abs;
            left: 0; top: 0;
            width: 100%;
            height: 100%;
            
            img {
                @extend %abs;
                @extend %abs-xy;
                max-width: none;              
                height: 100%;
                width: auto;
                
                  @media screen and ( min-aspect-ratio: 8/5 ) {
                    width: 100%; height: auto;
                }
            }
        }
        
    }
}
