<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/WebPage" lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
    
    <title><%= htmlWebpackPlugin.options.title %></title>

    <%= require('html-loader!./includes/head.html') %>
</head>

<body style="overflow: hidden">

<div style="position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: 120; background-color: #f4f4f4; background-image: url(<%= require('./img/quarstudio.svg') %>); background-repeat: no-repeat; background-position: center; background-size: 138px" id="cover"></div>

    <div class="c-top js-top">
        <a href="index.html" class="c-logo">
            <img src=<%= require("./img/quar.svg") %> width="50" height="50" alt="Quar">
        </a>
        
        <nav class="c-nav" id="nav">
            <ul class="c-menu">
                <li>
                    <a href="index.html" data-rain-effect="home">
                        <span>home</span>
                    </a>
                </li>
                
                <li class="current-menu-item">
                    <a href="work.html" data-rain-effect="work">
                        <span>work</span>
                    </a>
                </li>
                
                <li>
                    <a href="services.html" data-rain-effect="services">
                        <span>services</span>
                    </a>
                </li>
                
                <li>
                    <a href="contacts.html" data-rain-effect="contacts">
                        <span>contacts</span>
                    </a>
                </li>
            </ul>
            
            <ul class="c-lang">
                <li class="current-menu-item">
                    <a href="#" data-rain-effect="pl">
                        <span>pl</span>
                    </a>
                </li>
                
                <li>
                    <a href="#" data-rain-effect="en">
                        <span>en</span>
                    </a>
                </li>
            </ul>
        </nav>
        
        <div class="c-hamburger js-hamburger">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        
        <div class="c-top__bg js-bgFadeIn js-white"></div>
    </div>


	<div itemprop="mainContentOfPage" role="main" class="o-container no-padding">

	    <div class="c-picture c-picture--top  js-fullHeight">
            <picture class="lazyload">
				<source data-srcset="https://source.unsplash.com/89PFnHKg8HE/2560x1440" media="(min-width: 1680px)">
				<source data-srcset="https://source.unsplash.com/89PFnHKg8HE/1680x1050" media="(min-width: 1440px)">
				<source data-srcset="https://source.unsplash.com/89PFnHKg8HE/1440x900" media="(min-width: 1024px)">
				
				<img 
				    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" 
				    data-srcset="https://source.unsplash.com/89PFnHKg8HE/1024x768" 
				    class="lazyload" 
				    alt="">
			</picture>
        </div>


		<div class="o-wrap">
		    <div class="o-section o-section--bothpadding">
    		    <div class="o-header">
    		        <h1 class="o-header__primary">
                        Project<br> 
                        title line
    		        </h1>
    		    </div>

                
                <div class="c-grid c-grid--static">
                    <div class="c-grid__item">
                        <article class="c-article u-dash">
                            <p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent pretium et nulla eget laoreet. Phasellus pellentesque nisl ligula, pellentesque gravida augue laoreet non. Ut feugiat, massa quis faucibus luctus, lorem est auctor dui, nec scelerisque mauris orci et massa. Mauris auctor nisl sed mi posuere interdum. Phasellus id lorem convallis, tempor tellus consectetur, sodales libero. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus venenatis cursus justo ut posuere. Etiam tempus, lacus vitae molestie imperdiet, augue diam commodo erat, vel tempus urna velit et justo. Etiam sit amet venenatis justo.
                                
                            </p>
                        </article>
                    </div>
                    
                    <div class="c-grid__item">
                        <article class="c-article">
                            <h3>Services</h3>

                            <ul>
                                <li>Position 1</li>
                                <li>Position 2</li>
                                <li>Position 3</li>
                                <li>Position 4</li>
                                <li>Position 5</li>
                                <li>Position 6</li>
                            </ul>
                        </article>
                    </div>
                </div>                
            </div>
		</div>


        <div class="c-picture">
            <picture class="lazyload">
				<source data-srcset="https://source.unsplash.com/jQ_RRJgun3s/2560x1440" media="(min-width: 1680px)">
				<source data-srcset="https://source.unsplash.com/jQ_RRJgun3s/1680x1050" media="(min-width: 1440px)">
				<source data-srcset="https://source.unsplash.com/jQ_RRJgun3s/1440x900" media="(min-width: 1024px)">
				
				<img 
				    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" 
				    data-srcset="https://source.unsplash.com/jQ_RRJgun3s/1024x768" 
				    class="lazyload" 
				    alt="">
			</picture>
        </div>
        
        
        <div class="c-picture">
            <picture class="lazyload">
				<source data-srcset="https://source.unsplash.com/9Z1KRIfpBTM/2560x1440" media="(min-width: 1680px)">
				<source data-srcset="https://source.unsplash.com/9Z1KRIfpBTM/1680x1050" media="(min-width: 1440px)">
				<source data-srcset="https://source.unsplash.com/9Z1KRIfpBTM/1440x900" media="(min-width: 1024px)">
				
				<img 
				    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" 
				    data-srcset="https://source.unsplash.com/9Z1KRIfpBTM/1024x768" 
				    class="lazyload" 
				    alt="">
			</picture>
        </div>
        
        
        <div class="o-wrap">
		    <div class="o-section o-section--bothpadding">
    		    <div class="o-header">
    		        <h1 class="o-header__primary">
                        Project<br> 
                        title line 2
    		        </h1>
    		    </div>

                
                <article class="c-article u-dash">
                    <p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent pretium et nulla eget laoreet. Phasellus pellentesque nisl ligula, pellentesque gravida augue laoreet non. Ut feugiat, massa quis faucibus luctus, lorem est auctor dui, nec scelerisque mauris orci et massa. Mauris auctor nisl sed mi posuere interdum.
                    </p>
                    
                    <p>
Phasellus id lorem convallis, tempor tellus consectetur, sodales libero. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus venenatis cursus justo ut posuere. Etiam tempus, lacus vitae molestie imperdiet, augue diam commodo erat, vel tempus urna velit et justo. Etiam sit amet venenatis justo. 
                    </p>
                </article>                    
            </div>
		</div>
        
        
        <div class="c-picture">
            <picture class="lazyload">
				<source data-srcset="https://source.unsplash.com/F0bx43QKhRA/2560x1440" media="(min-width: 1680px)">
				<source data-srcset="https://source.unsplash.com/F0bx43QKhRA/1680x1050" media="(min-width: 1440px)">
				<source data-srcset="https://source.unsplash.com/F0bx43QKhRA/1440x900" media="(min-width: 1024px)">
				
				<img 
				    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" 
				    data-srcset="https://source.unsplash.com/F0bx43QKhRA/1024x768" 
				    class="lazyload" 
				    alt="">
			</picture>
        </div>
        
        
        <div class="o-wrap">
            <div class="c-grid c-grid--pagination c-grid--toppadding js-grid">
                <div class="c-grid__item c-grid__item--nopadding anim anim--left">
                    <a href="project.html" class="c-grid__item--more">
                        <div class="c-grid__underlink c-grid__underlink--left">
                            <i class="icon-arrow"></i> <span>Previous project</span>
                        </div>
                    </a>
                </div>
                
                <div class="c-grid__item  anim anim--right">
                    <a href="project.html" class="c-grid__item--more">
                        <div class="c-grid__underlink c-grid__underlink--right">
                            <span>Next project</span> <i class="icon-arrow"></i>
                        </div>
                    </a> 
                </div>
            </div>
        </div>


		<%= require('html-loader!./includes/footer.html') %>

	</div><!-- /container -->

</body>
</html>
