<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
    
    <title><%= htmlWebpackPlugin.options.title %></title>
	
	<meta name="GOOGLEBOT" content="NOODP"> 
	<meta name="keywords" content="">
	<meta name="description" content="">

    <%= require('html-loader!./includes/head.html') %>
</head>

<body style="overflow: hidden" itemscope="itemscope" itemtype="https://schema.org/WebPage">

<div style="position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: 120; background-color: #f4f4f4; background-image: url(<%= require('./img/quarstudio.svg') %>); background-repeat: no-repeat; background-position: center; background-size: 138px" id="cover"></div>

    <div class="c-top js-top">
        <a href="index.html" class="c-logo">
            <img src=<%= require("./img/quar.svg") %> width="50" height="50" alt="Quar">
        </a>
        
        <nav class="c-nav" id="nav">
            <ul class="c-menu">
                <li>
                    <a href="index.html" data-rain-effect="home">
                        <span>home</span>
                    </a>
                </li>
                
                <li>
                    <a href="work.html" data-rain-effect="work">
                        <span>work</span>
                    </a>
                </li>
                
                <li class="current-menu-item">
                    <a href="services.html" data-rain-effect="services">
                        <span>services</span>
                    </a>
                </li>
                
                <li>
                    <a href="contacts.html" data-rain-effect="contacts">
                        <span>contacts</span>
                    </a>
                </li>
            </ul>
            
            <ul class="c-lang">
                <li class="current-menu-item">
                    <a href="#" data-rain-effect="pl">
                        <span>pl</span>
                    </a>
                </li>
                
                <li>
                    <a href="#" data-rain-effect="en">
                        <span>en</span>
                    </a>
                </li>
            </ul>
        </nav>
        
        <div class="c-hamburger js-hamburger">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>

        <div class="c-top__bg js-bgFadeIn"></div>
    </div>


	<div itemprop="mainContentOfPage" role="main" class="o-container">

		<div class="o-wrap">
		    <div class="o-section">
    		    <div class="o-header">
    		        <h1 class="o-header__primary">
                        Title details<br> 
                        over services<br> 
                        area
    		        </h1>
    		    </div>

                
                <div class="c-grid js-grid">
                    <div class="c-grid__item">
                        <article class="c-article u-dash">
                            <p>More information and more information and more information and more ...</p>
                        </article>
                    </div>                     

                    <div class="c-grid__item lazyload anim anim--out anim--up">
                        <a href="service.html" class="effect-services">
                            <picture>    							
    							<img src="<%= require('./img/icons/branding.svg') %>" width="600" height="600" alt="">
    						</picture>
    
                            <p class="c-grid__caption c-grid__caption--lead">Branding<br> &amp; Identity</p>
                        </a> 
                    </div>
                    
                    <div class="c-grid__item lazyload anim anim--out anim--up">
                        <a href="service.html" class="effect-services">
                            <picture>    							
    							<img src="<%= require('./img/icons/branding.svg') %>" width="600" height="600" alt="">
    						</picture>
    
                            <p class="c-grid__caption c-grid__caption--lead">UI / UX Design<br> 2D / 3D Animation</p>
                        </a> 
                    </div>
                    
                    <div class="c-grid__item lazyload anim anim--out anim--up">
                        <a href="service.html" class="effect-services">
                            <picture>    							
    							<img src="<%= require('./img/icons/branding.svg') %>" width="600" height="600" alt="">
    						</picture>
    
                            <p class="c-grid__caption c-grid__caption--lead">Frontend, Backend<br> &amp; Integration Development</p>
                        </a> 
                    </div>
                    
                    <div class="c-grid__item lazyload anim anim--out anim--up">
                        <a href="service.html" class="effect-services">
                            <picture>    							
    							<img src="<%= require('./img/icons/branding.svg') %>" width="600" height="600" alt="">
    						</picture>
    
                            <p class="c-grid__caption c-grid__caption--lead">Responsive Design<br> Wireframing & User Flow</p>
                        </a> 
                    </div>                    
                </div>  
                
                
                <div class="c-grid c-grid--pagination js-grid">
                    <div class="c-grid__item anim anim--left">
                        <a href="work.html" class="c-grid__item--more">
                            <div class="c-grid__underlink c-grid__underlink--left">
                                <i class="icon-arrow"></i> <span>Explore Case Studies</span>
                            </div>
                        </a>
                    </div>
                    
                    <div class="c-grid__item anim anim--right">
                        <a href="contacts.html" class="c-grid__item--more">
                            <div class="c-grid__underlink c-grid__underlink--right">
                                <span>Contacts</span> <i class="icon-arrow"></i>
                            </div>
                        </a> 
                    </div>
                </div>              
            </div>

            <%= require('html-loader!./includes/footer.html') %>

		</div>

	</div><!-- /container -->

</body>
</html>
